<div class="entry card">
  <h5 class="entry-title">{{name}}</h5>
  <p class="entry-user">Entry by:
    {{user.first_name}}
    {{user.last_name}}
    on
    {{format_date date_created}}.
  </p>
  {{#if imageUrl}}
  <img src="{{imageUrl}}" alt="user img" width="400px" />
  {{/if}}
  <div class="col-md-7">
    <p class="entry-text">
      {{text}}
    </p>
  </div>
</div>